.how_it_works_container{
    .header-txt {
        color: #2E482B;
        font-size: 48px;
    }

    .light-blue-bg {
        background: #ECF0FF;
    }

    .light-green-bg {
        background: #EBFFEB;
    }

    .light-morepich-bg {
        background: #ECFFFB;
    }

    .light-pink-bg {
        background: #FFF3F7;
    }
    .patternimg-wrapper {
        max-width: 710px;
        margin: -6.5% auto 0px;
    }
    
}