.fr-section {
    padding-top: 5rem;
    background : linear-gradient(220deg, #EFFFF7 -70%, white 100%);

    .fr-wrapper {
        background-image   : url('../../assets/images/Pattern.png');
        background-size    : cover;
        background-position: top center;
        background-repeat  : no-repeat;
        padding            : 8rem 0 7rem;

        .restaurant-find {
            box-shadow      : 2px 4px 20px 0px #0000001a;
            border-radius   : 16px;
            background      : #fff;
            background-color: #fff;

            .fr-search {
                border-bottom: 1px solid #dedede;

                .fr-location {
                    max-width: 200px;
                    width    : 100%;
                }

                .fr-input {
                    max-width: calc(100% - 210px);
                    width    : 100%;

                    .fr-search-box {
                        height      : 40px;
                        border      : none;
                        border-left : 1px solid #d6d6d6;
                        padding-left: 1.5rem;
                        outline     : none;
                        max-width   : calc(100% - 50px);
                        caret-color : #CB007B;
                    }
                }
            }

            .fr-category-select {
                .filterdropdown {
                    .picky__input {
                        background : #ffff;
                        border     : none;
                        min-width  : 150px;
                        display    : flex;
                        align-items: center;
                        position   : relative;
                        outline    : none !important;

                        &:after {
                            content            : '';
                            position           : absolute;
                            right              : -20px;
                            background-image   : url('../../assets/images/down-arrow.svg');
                            background-size    : cover;
                            background-position: center;
                            background-repeat  : no-repeat;
                            width              : 10px;
                            height             : 5px;
                        }
                    }

                    &:nth-child(1) {
                        .picky__input {
                            min-width: auto !important;
                        }
                    }

                    .picky__dropdown {
                        position     : absolute;
                        background   : #fff;
                        max-height   : 240px !important;
                        overflow     : auto !important;
                        width        : 280px;
                        padding      : 20px;
                        box-shadow   : 2px 0px 10px 0px #00000024;
                        border-radius: 10px;
                        margin-top   : 2rem;
                        z-index      : 1;

                        &::-webkit-scrollbar {
                            width           : 6px;
                            background-color: transparent;
                        }

                        &::-webkit-scrollbar-thumb {
                            border-radius     : 20px;
                            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                            background-color  : #919191;
                        }

                        .option {
                            margin-bottom: 10px;
                            display      : flex;
                            align-items  : flex-start;
                            word-break   : break-all;
                        }

                        li {
                            list-style: none !important;
                        }
                    }

                    .filterdrop-checkbox {
                        .custom-control-label {
                            &:before {
                                border-color: #919191;
                            }
                        }

                        .custom-control-input {
                            &:checked {
                                &~.custom-control-label {
                                    &:before {
                                        border-color    : #cb007b;
                                        background-color: #cb007b;
                                    }
                                }
                            }

                            &:focus {
                                &~.custom-control-label {
                                    &:before {
                                        box-shadow  : 0 0 0 0.2rem #d00b812e !important;
                                        border-color: #cb007b38 !important;
                                    }
                                }
                            }
                        }

                        .custom-control-label {

                            &::before,
                            &::after {
                                width : 20px;
                                height: 20px;
                            }

                            &::after {}
                        }

                        label {
                            padding-top : 2px;
                            padding-left: 5px;
                        }
                    }
                }

                .fr-dropicon-none {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}
