.theme-light-btn {
    border: 2px solid #333333;
    border-radius: 25px;
    font-weight: 400;
    color: #333333;
    transition: ease 0.25s;
    font-size: 15px;
    text-decoration: none !important;
    font-family: "Brandon Text Medium";

    &:hover {
        background: #333;
        border-color: #333333;
        color: #fff;

        .user-icon {
            fill: #fff !important;
        }
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem #d9d9d9 !important;
    }

    &:not(:disabled):not(.disabled):active {
        box-shadow: 0 0 0 0.2rem #d9d9d9 !important;
        background: #333;
        border-color: #333333;
        color: #fff;
    }

    &.w-140 {
        width: 140px;
    }

    &.h-48 {
        height: 48px;
    }
}

.pinkline-btn {
    border: 1px solid #cb007b;
    color: #cb007b;

    &:hover {
        background: linear-gradient(2deg, #cb007b, #ff75ba);
        color: #fff;
        border: 1px solid #fb6bb5 !important;
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem #d00b812e !important;
    }
}

.border-separate {
    border: 1px solid #ccc;
}

.border-radius-25 {
    border-radius: 25px;
}

.main-layout {
    nav {
        &.main-header {
            padding: 1.25rem 1rem;
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 82px;
            top: 0px;
            z-index: 1;

            &.navsticky {
                position: fixed !important;
                background: #fff;
                z-index: 11;
                background-color: #fff !important;
                box-shadow: 0px 0px 14px 0px #0000001f;

                .menu-list {
                    .navright-btn {
                        .search-topnav {
                            opacity: 1;
                            visibility: visible;
                            z-index: 1;
                        }
                    }
                }
            }

            a {
                outline: none !important;

                &.navbar-brand {
                    .logo-txt {
                        color: #cb007b;
                        font-size: 16px;
                        font-family: "Brandon Text" !important;
                    }
                }
            }

            .menu-list {
                .navbar-nav {
                    a {
                        &.menu-link {
                            color: #232323;
                            font-size: 15px;
                            font-family: "Brandon Text Medium";

                            &:hover {
                                color: #cb007b;
                            }
                        }
                    }
                }

                .navright-btn {
                    .search-topnav {
                        width: 215px;
                        opacity: 0;
                        visibility: hidden;
                        z-index: -1;
                        transition: all 0.25s;

                        .search-navicon {
                            position: absolute;
                            right: 0;
                            top: 3px;
                        }

                        .search-input {
                            border: none;
                            border-bottom: 1px solid transparent;
                            border-radius: 0px;
                            padding-left: 2px;
                            padding-right: 25px;
                            color: #232323;
                            box-shadow: none;
                            outline: none !important;
                            font-size: 15px;

                            &::placeholder {
                                color: #232323;
                            }

                            &:focus {
                                border-bottom: 1px solid #cb007b;
                            }
                        }
                    }

                    .userprofile-dropdown {
                        .userprofile-dropbtn {
                            border: 1px solid #333333 !important;
                            background: #fff !important;
                            color: #333 !important;
                            display: flex;
                            align-items: center;
                            max-width: 200px;
                            min-width: 175px;
                            border-radius: 25px;
                            justify-content: space-between;
                            position: relative;

                            .user-name {
                                display: flex;
                                align-items: center;
                                width: 100%;
                                text-align: left;

                                img {
                                    &.userprofile-img {
                                        border-radius: 50px;
                                        width: 25px;
                                        height: 25px;
                                        overflow: hidden;
                                        object-fit: contain;
                                        object-position: center;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                    }
                                }

                                span {
                                    font-size: 14px;
                                    max-width: calc(100% - 49px);
                                    width: 100%;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 1;
                                }
                            }

                            &:after {
                                content: url(/static/media/left-arrow.cea1b2ed.svg);
                                border: none;
                                width: 10px;
                                height: 10px;
                                display: flex;
                                align-items: center;
                                transform: rotate(90deg) scale(0.9);
                                position: absolute;
                                right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    /*------------------------------------*\
	NAV
\*------------------------------------*/
#nav{
	list-style:none;
}
#nav li{
	float:left;
	// margin-right:10px;
	position:relative;
}
#nav a{
	display:block;
	padding:5px;
	color:#000000;
	background:transparent;
	text-decoration:none;
}
// #nav button:hover{
// 	color:#fff;
// 	background:#6b0c36;
// 	text-decoration:underline;
// }

/*--- DROPDOWN ---*/
#nav ul{
	background:transparent; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    padding: 10px;
    width: 92%;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.15);

}
#nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;

}
#nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
	right:auto; /* Bring back on-screen when needed */
    left:0;
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background:transparent;
	text-decoration:underline;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:transparent;
    color: #cb007b;
}
}